.navbar {
  padding: 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #cfcfcf;

  .nav-container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .nav-links {
      width: 100%;
      max-width: 30%;
      display: flex;
    }
  }
}
